# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.eggs/

# PyInstaller
*.spec
dist/
build/

# VS Code
.vscode/

# Mac and Windows
.DS_Store
Thumbs.db

# Environments
venv/
.env/
.venv/

# Logs
*.log

# Script Lock Pid file
scriptlock.pid

# Local Packages Directory
packages/